@model JustTheTip.Models.FriendCollectionViewModel

@{
    var n = Model.Friends.Count();
}

<table class="table table-striped table-bordered table-dark">
    <tr>
        <th colspan="4" class="tablecolor">
            <h4 class="text-center" style="font-weight: bold;">Current (@n)</h4>
        </th>
    </tr>
    @if (n > 0) {
        foreach (var item in Model.Friends) {
            <tr>
                <td>
                    <a class="table-link" href="@Url.Action("Index", "Profile", new { profileId = @item.UserId})"><img src="@Html.DisplayFor(modelItem => item.ProfilePic)" alt="No image" style="max-height: 50px; max-width: 50px;" /></a>
</td>
                <td>
                    <a class="table-link" href="@Url.Action("Index", "Profile", new { profileId = @item.UserId})">@Html.DisplayFor(modelItem => item.FullName)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) | 
                    @Html.ActionLink("Remove", "Remove", new { id = item.UserId })
                </td>
            </tr>
        }
    } else {
        <tr>
            <td>
                You have no friends. :(
            </td>
        </tr>
    }
</table>

