@model JustTheTip.Models.FriendCollectionViewModel

@{
    int n = Model.Requests.Count();
}

<table class="table table-striped table-bordered table-dark">
    <tr>
        @*Different table header depending on whether the user has any friend requests*@
        @if (n > 0) {
            <th colspan="4" style="background-color: mediumseagreen;">
                <h4 class="text-center" style="font-weight: bold;">Requests (@n)</h4>
            </th>
        } else {
            <th colspan="4" style="background-color: lightgray;">
                <h4 class="text-center" style="font-weight: bold;">Requests (@n)</h4>
            </th>
        }


    </tr>
    @if (n > 0) {
        foreach (var item in Model.Requests) {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ProfilePicUrl)" alt="No image" style="max-height: 50px; max-width: 50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthYear)
                </td>
                <td>
                    @Html.ActionLink("Accept", "Accept", new { id = item.UserId }) |
                    @Html.ActionLink("Ignore", "Ignore", new { id = item.UserId })
                </td>
            </tr>
        }
    } else {
        <tr>
            <td>You have no new requests.</td>
        </tr>
    }

</table>