@model JustTheTip.Models.ProfileViewModel


@{
    ViewBag.Title = "Index";
}



<h2>@Model.FirstName  @Model.LastName</h2>
@if (@Model.Compatibility >= 0) {
    if (Model.IsFriend) {
        <div>@Html.ActionLink("You are friends", "../Friends", null, new { @class = "btn-lg btn-block text-center", @style = "width: 200px; text-align: center; background-color: mediumseagreen; font-weight: 800; color: black", @role = "button" })</div>
    } else if (Model.HasPendingRequest) {
        <div>@Html.ActionLink("Friend-request sent", "../Friends", null, new { @class = "btn-lg btn-block text-center", @style = "width: 200px; text-align: center; background-color: hotpink; font-weight: 800; color: black", @role = "button" })</div>
    } else {
        <div>@Html.ActionLink("Add friend", "Add", new { id = Model.UserId }, new { @class = "btn-lg btn-block text-center", @style = "width: 200px; text-align: center; background-color: hotpink; font-weight: 800; color: black", @role = "button" })</div>
    }


    <br />

    <div class="progress">

        <div class="progress-bar" role="progressbar" aria-valuenow=@Model.Compatibility aria-valuemin="0" aria-valuemax="100" style="width:@Model.Compatibility%;">
            Match Probability: @Model.Compatibility%
        </div>

    </div>

}
@if (@Model.Compatibility < 0) {
    <div class="btn">
        <a class=" btn btn-danger table-link" href="@Url.Action("CompatibilitySearch", "Profile", new { userId = Model.UserId})">Search for compatible partners</a>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <img id="profilepiconprofile" class="img-circle " src="@Url.Action("ProfilePic", "Profile", new { id = Model.UserId })" alt="no image" />

    </div>
    <div class="col-md-4 ">
        <h1>Posts</h1>
        <label for="new-post">Write something on @Model.FirstName's wall!</label>

        <form class="form-inline">
            <div class="form-group">
                <textarea maxlength="140" class="form-control" id="new-post" rows="3" placeholder="Write something..."></textarea>
                <button type="submit" id="new-post-submit" class="btn btn-primary" style="margin-top: 5px;">Post</button>
            </div>
        </form>
        <br />
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead class="tablecolor">
                <tr>
                    <th colspan="2">Posts</th>
                    @* Add another column for post deletion if visiting your own profile page *@
                    @if (Model.UserId == ViewBag.Id) {
                        <th scope="col" width="20%"></th>
                    }
                </tr>
            </thead>
            <tbody id="posts">
                @* Table filled with js further down *@
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>Friends <span class="label label-success">@Model.Friends.Count</span></h1>
        <table id="friends_table" class=" table table-striped table-bordered table-bordered">
            <thead class="tablecolor">
                <tr>
                    <th scope="col" width="15%"></th>
                    <th scope="col" width="45%">Name</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model.Friends) {
                        <tr>
                            <td><a class="table-link" href="@Url.Action("Index", "Profile", new { profileId = @user.Key.UserId})"><img src="@Url.Action("ProfilePic", "Profile", new { id = user.Key.UserId })" alt="ProfilePic" class="img-rounded" id="friendiconprofile" /></a></td>
                            <td><a class="table-link" href="@Url.Action("Index", "Profile", new { profileId = @user.Key.UserId})">@user.Key.FirstName</a></td>
                            <td><a class="table-link" href="@Url.Action("Index", "Friends", new { profileId = @user.Key.UserId})">@user.Value</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">

    <div class="row">
        <div class="col-md-4">
            <h1>Profile</h1>

            <table id="profile_table" class=" table table-striped table-bordered table-bordered">
                <tr>
                    <th class="col-md-2 tablecolor" scope="col">Name</th>
                    <td class="col-md-3">@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <th scope="col" class="tablecolor">Gender</th>
                    <td>
                        @Model.Gender
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="tablecolor">Age</th>
                    <td>
                        @{var today = DateTime.Today;
                            var birthDate = Model.BirthDate.Value;
                            var age = today.Year - birthDate.Year;
                            if (birthDate > today.AddYears(-age)) { age--; }
                        }@age
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="tablecolor">Zodiac</th>
                    <td>@Model.ZodiacSign</td>
                </tr>
                <tr>
                    <th scope="col" class="tablecolor">Sexual Orientation</th>
                    <td>@Model.SexualOrientation</td>
                </tr>
            </table>

        </div>
        <div class="col-md-4 col-md-offset-4">
            <table class="table table-striped table-bordered">
                <thead class="tablecolor">
                    <tr>
                        <th colspan="2">Latest visitors</th>
                    </tr>

                </thead>
                <tbody id="visitors">
                    @* Table filled by js further down *@
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Update list of posts
        function update() {
            $.get('api/profile/get-posts?id=' + '@(Model.UserId)', function (posts) {
                $('#posts').text(''); // Clear list of posts

                posts.forEach(function (post) {
                    var tr = $('<tr></tr>)');
                    tr.append(
                        '<td>' +
                        '<a class="table-link" href="profile?profileId=' + post.PosterId + '">' +
                        '<img class="' + post.PosterId + '" src="" class="img-rounded" style="max-height:50px; max-width:50px;" />' +
                        '</a>' +
                        '</td>' +
                        '<td>' +
                        '<a class="table-link" href="profile?profileId=' + post.PosterId + '">' +
                        post.PosterName + '</a>: ' + post.Content +
                        '</td>'
                    );
                    // Add delete post button if visiting your own profile
                    if ('@Model.UserId' == '@ViewBag.Id') {
                        tr.append(
                            '<td align="center" valign="middle">' +
                            '<div>' +
                            '<i class="fas fa-trash-alt" style="cursor: pointer;" onclick="remove(' + post.PostId + ')"></i>' +
                            '</div>' +
                            '</td>'
                        );
                    }
                    $('#posts').append(tr);
                    $('.' + post.PosterId).attr('src', 'data:image/png;base64,' + post.ProfilePic);
                });
            });
        }

        // Submit a new post
        $('#new-post-submit').click(function () {
            var content = $('#new-post').val();

            // Enforce the 140 character limit with an iron fist
            if (!content.length <= 140) {
                content = content.substring(0, 140);
            }

            var post = { RecipientId: '@(Model.UserId)', Content: content };
            $.ajax({
                type: "POST",
                data: JSON.stringify(post),
                url: "api/profile/submit-post",
                contentType: "application/json",
            });

            $('#new-post').val('');
            $('#posts').fadeOut();
            setTimeout(
                function () {
                    update();
                    $('#posts').fadeIn();
                }, 500);
            return false; // Prevents the page from refreshing for some strange reason
        });

        // Remove a post
        function remove(id) {
            if (confirm('Delete post?')) {
            $.post('api/profile/remove-post?id=' + id, function () {
                $('#posts').fadeOut();
                setTimeout(
                    function () {
                        update();
                        $('#posts').fadeIn();
                    }, 500);
                });
            }
        }

        function visit() {
            var id = '@Model.UserId';
            $.ajax({
                type: 'POST',
                data: JSON.stringify(id),
                url: 'api/profile/visit',
                contentType: 'application/json',
            });
        }

        function getVisitors() {
            $.get('api/profile/get-visitors?id=' + '@Model.UserId', function (visitors) {
                $('#visitors').text(''); // Clear the list of visitors

                visitors.forEach(function (visitor) {
                    var tr = $('<tr></tr>');
                    tr.append(
                        '<td>' +
                        '<a class="table-link" href="profile?profileId=' + visitor.UserId + '">' +
                        '<img id="' + visitor.UserId + '" src="" class="img-rounded" style="max-height:50px; max-width:50px;" />' +
                        '</a>' +
                        '</td>' +
                        '<td>' +
                        '<a class="table-link" href="profile?profileId=' + visitor.UserId + '">' +
                        visitor.FullName +
                        '</a>' +
                        '<p style="font-style: italic;">' + visitor.Date + '</p>' +
                        '</td>'
                    );
                    $('#visitors').append(tr);
                    $('#' + visitor.UserId).attr('src', 'data:image/png;base64,' + visitor.ProfilePic);
                });
            });
        }

        // Call some functions when the page loads
        $(function () {
            update();
            visit();
            getVisitors();
        });
    </script>
}