@model List<JustTheTip.Models.UserModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-3 ">
        <img src="..\Pictures\Icon.png" />
    </div>
    <div class="col-md-6">
        <h1 class="welcometext">Welcome to Just the Tip Dating</h1>
        <p class="lead">A dating site for desires out of the ordinary</p>

    </div>

</div>


<div class="row test">
    <div class="col-md-5">
        @Html.ActionLink("Register", "../Account/Register", null, new { @class = "btn-lg btn-block text-center", @style = "text-align: center; background-color: hotpink; font-weight: 800; color: black", @role = "button" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-5 test">
        @Html.ActionLink("Log in", "../Account/Login", null, new { @id = "startpagebtn", @class = "btn-lg btn-block text-center", @style = "text-align: center; background-color: hotpink; font-weight: 800; color: black", @role = "button" })
    </div>
    <div class="col-md-2">
        <b style="font-weight: 900">Our model:</b>
        <p>We strive to achieve the best possible matching experience for our users.</p>
    </div>
</div>    
<div class="row col-md-12">
    <h2>Here's a few of our awesome members!</h2>
    @{
        var n = Model.Count();
        if (n > 3)
        {
            n = 3;
        }
    }
    @foreach (var item in Model.Take(n))
    {


        <div class="col-md-3" id="exampleusers">
            <a href="@Url.Action("Login", "Account", new { profileId = @item.UserId})">
                <h3>@Html.DisplayFor(modelItem => item.FirstName) </h3>
                <img src="@Html.DisplayFor(modelItem => item.ProfilePicUrl)" alt="No image" id="profilepicexampleusers" class="img-circle" />

            </a>
        </div>



    }
</div>